* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 24, 24);
  color: white;
  font-family: Arial;
}

.game-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.score-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.heading{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 15px;
  cursor: pointer;
}

.result {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 40px;
}

.score {
  margin-top: 20px;
  margin-bottom: 15px;
}

.reset-score-button {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 13px;
  cursor: pointer;
  margin-top: 20px;
}